<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <var name="SUBDOMAIN" value="z3nburmaglot" />
        <var name="USERNAME" value="japeterson@zendesk.com" />
        <var name="PASSWORD" value="HjV19nQm" />
        <var name="TOKEN" value="FsD6L6pHGSsoHFctgl0HsPVATjEepNRHEwr2zycl" />
        <var name="OAUTH_SECRET" value="" />
        <var name="OAUTH_TOKEN" value="" />
        <var name="END_USER_USERNAME" value="jpete369@gmail.com" />
        <var name="END_USER_PASSWORD" value="aseft" />
        <var name="END_USER_OAUTH_TOKEN" value="" />
    </php>
</phpunit>