<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <var name="SUBDOMAIN" value="sandedboxy" />
        <var name="USERNAME" value="dpawluk@zendesk.com" />
        <var name="PASSWORD" value="***REMOVED***" />
        <var name="TOKEN" value="***REMOVED***" />
        <var name="OAUTH_SECRET" value="***REMOVED***" />
        <var name="OAUTH_TOKEN" value="***REMOVED***" />
        <var name="END_USER_USERNAME" value="daniel.pawluk@me.com" />
        <var name="END_USER_PASSWORD" value="buschlight" />
        <var name="END_USER_OAUTH_TOKEN" value="9f4ffefe9a" />
    </php>
</phpunit>
<!--de429fd3aef395b58f665c078dcc54db0a62dc1ef5c24d9bcae0572d4d8699e2-->